{% extends 'base.html' %}

{% block title %} DACE | Guru Ghasidas Vishwavidyalaya {% endblock title %}

{% block body %}


  <!--header finish-->
  <div id="head_dace">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand text-wrap" href="#" style="color: darkgoldenrod !important;font-weight: 400;"><h4>About DACE : Dr Ambedkar Center of Excellence</h4></a>
      </div>
    </nav>
  </div>
  <div class="container-fluid m-2 p-3">
    <div class="row">
      <div class="col">
        <p style="font-weight:900 ;">
          Dr Ambedkar Centre of Excellence (DACE) Guru Ghasidas Vishwavidyalaya scheme for free coaching classes for
          scheduled caste students under the Ministry of Social Justice and Empowerment, Government of India.
          Dr Ambedkar Centre of Excellence (DACE) establishes with the strongest goal of serving the socially
          disadvantaged people and instill the culture of serve the nation and the community.
        </p>
        <p >
          The center provide the coaching for pre and main examination conducted by UPSC . the funding for the centre
          available from the Ministry of Social Justice and Empowerment, Government of India.
          The students are selected for coaching on the basis of an entrance test and they offer class room teaching,
          which is supplemented by periodic test and evaluation. The library of the University rich with variety of
          subjects which is replenished regularly to facilitate students access to current and relevant material.
        </p>
        <p >
          <strong style="font-weight:900 ;">Scope and Coverage :</strong>
          Centre will provide specialized coaching ONLY to the Scheduled Caste students for the Civil Services
          examination
          conducted by the UPSC.
        </p>
        <p >
          <strong style="font-weight:900 ;">Aim :</strong>
          The scheme is aim to empower scheduled caste students in competitive exams by providing the best and free
          coaching facilities.
        </p>

        <div class="row">
          <div class="col">
            <div>
              <strong style="font-weight:900 ;">
                Objectives
              </strong>
            </div>
            <ul>
              <li>
                <p>
                  To provide a platform of academic excellence to the students of scheduled castes to take the
                  examinations conducted for UPSC.
                </p>
              </li>
              <li>
                <p >
                  To bring educationally backwards community on par with the rest of the society and to make them Excel
                  in
                  achievement of quality of services.
                </p>
              </li>
              <li>
                <p >
                  To provide study material and library facility
                </p>
              </li>
              <li>
                <p >
                  The objective of the Scheme is to provide high quality free coaching facilities
                </p>
              </li>
              <li>
                <p >
                  To provide free coaching facilities, testing and evaluation
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div>
              <strong style="font-weight:900 ;">
                Admission Criteria :
              </strong>
            </div>
            <div>
              <ol >
                <li>
                  The Scheme shall be open only for Scheduled Castes students.
                </li>
                <li>
                  Students who have completed their under graduation or appearing in the final semester/year of their UG
                  course, are eligible to apply to this program.
                </li>
                <li>
                  At the time of admission, students must have a graduation degree.
                </li>
                <li>
                  A maximum number of 100 students shall be selected for a Course.
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock body %}