{% extends 'base.html' %}
{% load static %}

{% block title %} Log In {% endblock title %}
{% block custom_css %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/3login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/2signin.css' %}">
{% endblock custom_css %}
{% block body %}
    <!--End of top nav-->
    <!--Sign in form-->
    <!-- <nav class="navbar navbar-expand-lg bg-light">
                  <div class="container-md">
                    <a class="navbar-brand" href="#">Navbar</a>
                  </div>
                </nav> -->

    <div class="container-fluid velcum mb-5">
        <div class="row ">
            <div class="d-flex">
                <div class="p-2 flex-grow-1 text-wrap">
                    <a href= "{% url 'home' %}" style="font-weight: 400;">
                    <h4>Home</h4>
                     </a>   
                </div>
                <div class="p-2 text-wrap">
                    <a href= "{% url 'signin' %}" style="font-weight: 400;">
                    <h4>Sign In page</h4>
                     </a>   
                </div>
            </div>
            <!-- <ul class="nav" style="font-size:2em;">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="1index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="2signIn.html">Sign-In</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
               -->
        </div>
    </div>

    <div class="container-fluid box mb-5">
        <div class="row justify-content-evenly">
            <div class="col-sm-8 col-xs-12 d-flex justify-content-center align-items-center">
                <div class="sign_in" style="width: 100%;">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 id="reg">REGISTRATION</h2>
                            <!-- <p>All the <span class="text-danger">*</span> marked fields are must</p> -->
                        </div>
                    </div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
                    <div class="col-12 col-md-8 padding-left: 2rem;">
                        <div class="col-12 col-md-8">
                            <label for="Email-ID">Email-ID<span class="text-danger">*</span></label>
                            <input type="text" name="emailId" id="emailId" class="form-control" placeholder="Email-ID">
                        </div>
                        <div class="row mb-3">
                            <label for="Name">Name <span class="text-danger">*</span></label>
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Name" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <div>
                                <label for="Date Of Birth">Date Of Birth <span class="text-danger">*</span></label>
                                <input type="date" id="dob" name="dob" required>

                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="Gender">Gender <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <input class="form-group-input" type="radio" name="gender"
                                        id="gender" value="Male">
                                    <label class="form-group-label" for="exampleRadios1">
                                        Male
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <input class="form-group-input" type="radio" name="gender"
                                        id="gender" value="Female">
                                    <label class="form-group-label" for="exampleRadios2">
                                        Female
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <input class="form-group-input" type="radio" name="gender"
                                        id="gender" value="Other">
                                    <label class="form-group-label" for="exampleRadios3">
                                        Other
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <label for="Category">Category <span class="text-danger">*</span></label>
                            <select class="form-control">
                                <option value="Choose">Choose</option>
                                <option name="category" id="category"  value="SC">General</option>
                                <option name="category" id="category"   value="SC">SC/ST</option>
                                <option name="category" id="category"  value="SC">OBS</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-8">
                            <label for="Father Name">Father Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="father_name" name="father_name" placeholder="Father Name">
                        </div>
                        <div class="col-12 col-md-8">
                            <label for="Mother Name">Mother Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id='father_name' name="mother_name" placeholder="Mother Name">
                        </div>
                        <div class="col-12 col-md-8">
                            <label for="Address">Temporary Address <span class="text-danger">*</span></label>
                            <div class="row mb-3">
                                <div class="col-12 col-md-12">
                                    <input type="text" class="form-control" id="address" name="address" placeholder="Address" required>
                                </div>
                            </div>
                        </div>                        <div class="col-12 col-md-8">
                            <label for="Address">Permanent Address <span class="text-danger">*</span></label>
                            <div class="row mb-3">
                                <div class="col-12 col-md-12">
                                    <input type="text" class="form-control" id="permanent_address" name="permanent_address" placeholder="Address" required>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12 col-md-8">
                                <label for="State/Union Territory">State/Territory <span
                                        class="text-danger">*</span></label>
                                <select class="form-control">
                                    <option value="Select">Select</option>
                                    <option name="state" id="state" value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option name="state" id="state" value="Arunachal Pradesh">Arunachal Pradesh
                                    </option >
                                    <option name="state" id="state" value="Assam">Assam</option>
                                    <option name="state" id="state" value="Bihar">Bihar</option>
                                    <option name="state" id="state" value="Chhattisgarh">Chhattisgarh</option>
                                    <option name="state" id="state" value="Goa">Goa</option>
                                    <option name="state" id="state" value="Gujurat">Gujurat</option>
                                    <option name="state" id="state" value="Haryana">Haryana</option>
                                    <option name="state" id="state" value="Himanchal Pradesh">Himanchal Pradesh
                                    </option >
                                    <option name="state" id="state" value="Jharkhand">Jharkhand</option>
                                    <option name="state" id="state" value="Karnataka">Karnataka</option>
                                    <option name="state" id="state" value="Kerala">Kerala</option>
                                    <option name="state" id="state" value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option name="state" id="state" value="Maharashtra">Maharashtra</option>
                                    <option name="state" id="state" value="Manipur">Manipur</option>
                                    <option name="state" id="state" value="Meghalaya">Meghalaya</option>
                                    <option name="state" id="state" value="Mizoram">Mizoram</option>
                                    <option name="state" id="state" value="Nagaland">Nagaland</option>
                                    <option name="state" id="state" value="Odisha">Odisha</option>
                                    <option name="state" id="state" value="Punjab">Punjab</option>
                                    <option name="state" id="state" value="Rajasthan">Rajasthan</option>
                                    <option name="state" id="state" value="Sikkim">Sikkim</option>
                                    <option name="state" id="state" value="Tamil Nadu">Tamil Nadu</option>
                                    <option name="state" id="state" value="Telangana">Telangana</option>
                                    <option name="state" id="state" value="Tripura">Tripura</option>
                                    <option name="state" id="state" value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option name="state" id="state" value="West Bengal">West Bengal</option>
                                    <option name="state" id="state" value="Andaman Nicobar">Andaman Nicobar</option>
                                    <option name="state" id="state" value="Chandigarh">Chandigarh</option>
                                    <option name="state" id="state" value="Dadra and Nagar Haveli and Daman and Diu">
                                        Dadar and Nagar Haveli
                                        and Daman
                                        and Diu
                                    </option>
                                    <option name="state" id="state" value="Delhi">Delhi</option>
                                    <option name="state" id="state" value="Jammu and Kashmir">Jammu and Kashmir
                                    </option>
                                    <option name="state" id="state" value="Ladakh">Ladakh</option>
                                    <option name="state" id="state" value="Lakshadeep">Lakshadeep</option>
                                    <option name="state" id="state" value="Puducherry">Puducherry</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <label for="Pincode">Pincode <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="pincode" name="pincode" placeholder="Pincode" required>
                        </div>
                        <div class="col-12 col-md-8">
                            <label for="Mobile Number">Mobile Number <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id='phone_no' name="phone_no" placeholder="Mobile Number">
                        
                            <label for="Upload Photo">Upload Your Photo <span class="text-danger">*</span></label>
                            <input type="file" class="form-control" id="profile" name="profile" placeholder="Mobile Number">
                      
                            <label for="Upload your signature">Signature <span class="text-danger">*</span></label>
                            <input type="file" class="form-control" id="signature" name="signature" placeholder="Mobile Number">
                        
                            <label for="Upload Caste Certificate">Upload Caste Certificate if applicable  <span class="text-danger">*</span></label>
                            <input type="file" class="form-control" id=name name="caste_certificate" placeholder="Mobile Number">
                        
                            <label for="Qualification">Qualification <span class="text-danger">*</span></label>
                            <input type="file" class="form-control" id="qualification" name="qualification" placeholder="Mobile Number">
                        </div>
                        <div class="form-group p-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    I agree all terms and conditions <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="container">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-primary" type="submit">Register</button>
                                </div>
                            </div>
                        </div>
                    </div></form>
                </div>

            </div>



        </div>

        </form>
    </div>

      {% endblock body %}